:root {
    --blue: #039be5;
    --red: #FF5722;
    --teal: #607D8B;
}

a {
    color: var(--blue);
}

.btn-outline-primary {
    border-color: var(--blue);
    color: var(--blue);
}

.btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: var(--blue);
    border-color: var(--blue);
}

.text-danger, code {
    color: var(--red)!important;
}

body {
    font-family: "Aphrus Sans", "Chiron Sans HK WS";
    text-align: justify;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 2em;
    padding-bottom: 2em;
}

div.section-title {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 1.2;
    color: var(--teal)!important;
}

h1.display-4, h1.display-3 {
    font-weight: 800;
    line-height: 100%;
}

h1 small {
    font-weight: 700;
    font-size: 70%;
}

h1 {
    font-weight: 600;
    font-size: 3.2rem;
}

h2 {
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

header {
    text-align: center;
}

header p {
    font-weight: 800;
    font-size: 1.5rem;
}

p, li {
    font-size: 1.3rem;
}

.note {
    font-weight: 300;
    border-left: 3px solid #bcc5cd;
    padding-left: 1em;
    font-size: 1.1rem;
    color: #6c757d;
}

@media (max-width: 575.98px) {
    .display-1 {
        font-size: 4rem;
    }

    h1 small {
        font-size: 52%;
    }

    div.section-title {
        font-size: 2.8rem;
    }
}

.download-row {
    line-height: 3;
}

.hide-until-meta-loaded {
    display: none;
}

.carousel-item p {
    font-weight: 200;
}

.carousel-item img {
    margin-bottom: 200px;
}

.carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #039be5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-caption p, .carousel-caption div {
    flex: 1;
}

li.nav-item {
    font-size: 1.1rem;
}